<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.wookat.quickgrab.mapper.BuyersMapper">

    <resultMap id="BaseResultMap" type="indi.wookat.quickgrab.entity.Buyers">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="accessLevel" column="access_level" jdbcType="INTEGER"/>
            <result property="dailyMaxSubmissions" column="daily_max_submissions" jdbcType="INTEGER"/>
            <result property="dailySubmissionCount" column="daily_submission_count" jdbcType="INTEGER"/>
            <result property="validityPeriod" column="validity_period" jdbcType="DATE"/>
    </resultMap>

    <!--suppress Annotator -->
    <sql id="Base_Column_List">
        id,username,password,
        email,access_level,daily_max_submissions,
        daily_submission_count,validity_period
    </sql>

    <!--suppress Annotator -->
    <sql id="Securiy_Column_List">
        id,username,
        email,access_level,daily_max_submissions,
        daily_submission_count,validity_period
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Securiy_Column_List" />
        from buyers
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectAll" resultMap="BaseResultMap" resultType="indi.wookat.quickgrab.entity.Buyers">
        select
        <include refid="Securiy_Column_List" />
        from buyers
    </select>
    <select id="selectByUsername" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from buyers
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="getAllBuyers" resultType="indi.wookat.quickgrab.entity.Buyers">
        SELECT id, username FROM buyers
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from buyers
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="indi.wookat.quickgrab.entity.Buyers" useGeneratedKeys="true">
        insert into buyers
        ( id,username,password
        ,email,access_level,daily_max_submissions
        ,daily_submission_count,validity_period)
        values (#{id,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
        ,#{email,jdbcType=VARCHAR},#{accessLevel,jdbcType=INTEGER},#{dailyMaxSubmissions,jdbcType=INTEGER}
        ,#{dailySubmissionCount,jdbcType=INTEGER},#{validityPeriod,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="indi.wookat.quickgrab.entity.Buyers" useGeneratedKeys="true">
        insert into buyers
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="email != null">email,</if>
                <if test="accessLevel != null">access_level,</if>
                <if test="dailyMaxSubmissions != null">daily_max_submissions,</if>
                <if test="dailySubmissionCount != null">daily_submission_count,</if>
                <if test="validityPeriod != null">validity_period,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
                <if test="email != null">#{email,jdbcType=VARCHAR},</if>
                <if test="accessLevel != null">#{accessLevel,jdbcType=INTEGER},</if>
                <if test="dailyMaxSubmissions != null">#{dailyMaxSubmissions,jdbcType=INTEGER},</if>
                <if test="dailySubmissionCount != null">#{dailySubmissionCount,jdbcType=INTEGER},</if>
                <if test="validityPeriod != null">#{validityPeriod,jdbcType=DATE},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="indi.wookat.quickgrab.entity.Buyers">
        update buyers
        <set>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="email != null">
                    email = #{email,jdbcType=VARCHAR},
                </if>
                <if test="accessLevel != null">
                    access_level = #{accessLevel,jdbcType=INTEGER},
                </if>
                <if test="dailyMaxSubmissions != null">
                    daily_max_submissions = #{dailyMaxSubmissions,jdbcType=INTEGER},
                </if>
                <if test="dailySubmissionCount != null">
                    daily_submission_count = #{dailySubmissionCount,jdbcType=INTEGER},
                </if>
                <if test="validityPeriod != null">
                    validity_period = #{validityPeriod,jdbcType=DATE},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="indi.wookat.quickgrab.entity.Buyers">
        update buyers
        set 
            username =  #{username,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            email =  #{email,jdbcType=VARCHAR},
            access_level =  #{accessLevel,jdbcType=INTEGER},
            daily_max_submissions =  #{dailyMaxSubmissions,jdbcType=INTEGER},
            daily_submission_count =  #{dailySubmissionCount,jdbcType=INTEGER},
            validity_period =  #{validityPeriod,jdbcType=DATE}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
